In [11]:
import pandas as pd

In [12]:
toi_raw = pd.read_csv('toi_raw.csv')
toi_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7703 entries, 0 to 7702
Data columns (total 87 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              7703 non-null   int64
 1   toi                7703 non-null   float64
 2   toipfx             7703 non-null   int64
 3   tid                7703 non-null   int64
 4   ctoi_alias         7703 non-null   float64
 5   pl_pnum            7703 non-null   int64
 6   tfopwg_disp        7703 non-null   object
 7   rastr              7703 non-null   object
 8   ra                 7703 non-null   float64
 9   raerr1             0 non-null      float64
 10  raerr2             0 non-null      float64
 11  decstr             7703 non-null   object
 12  dec                7703 non-null   float64
 13  decerr1            0 non-null      float64
 14  decerr2            0 non-null      float64
 15  st_pmra            7569 non-null   float64
 16  st_pmraerr1        7569 non-null   float64
 17  st_pmraerr2        7569 non-null   float64
 18  st_pmralim         7569 non-null   float64
 19  st_pmrasymerr      7569 non-null   float64
 20  st_pmdec           7569 non-null   float64
 21  st_pmdecerr1       7569 non-null   float64
 22  st_pmdecerr2       7569 non-null   float64
 23  st_pmdeclim        7569 non-null   float64
 24  st_pmdecsymerr     7569 non-null   float64
 25  pl_tranmid         7703 non-null   float64
 26  pl_tranmiderr1     7692 non-null   float64
 27  pl_tranmiderr2     7692 non-null   float64
 28  pl_tranmidlim      7703 non-null   int64
 29  pl_tranmidsymerr   7703 non-null   int64
 30  pl_orbper          7596 non-null   float64
 31  pl_orbpererr1      7572 non-null   float64
 32  pl_orbpererr2      7572 non-null   float64
 33  pl_orbperlim       7703 non-null   int64
 34  pl_orbpersymerr    7703 non-null   int64
 35  pl_trandurh        7703 non-null   float64
 36  pl_trandurherr1    7690 non-null   float64
 37  pl_trandurherr2    7690 non-null   float64
 38  pl_trandurhlim     7703 non-null   int64
 39  pl_trandurhsymerr  7703 non-null   int64
 40  pl_trandep         7703 non-null   float64
 41  pl_trandeperr1     7697 non-null   float64
 42  pl_trandeperr2     7697 non-null   float64
 43  pl_trandeplim      7703 non-null   int64
 44  pl_trandepsymerr   7703 non-null   int64
 45  pl_rade            7197 non-null   float64
 46  pl_radeerr1        6080 non-null   float64
 47  pl_radeerr2        6080 non-null   float64
 48  pl_radelim         7703 non-null   int64
 49  pl_radesymerr      7703 non-null   int64
 50  pl_insol           7527 non-null   float64
 51  pl_insolerr1       0 non-null      float64
 52  pl_insolerr2       0 non-null      float64
 53  pl_insollim        0 non-null      float64
 54  pl_insolsymerr     0 non-null      float64
 55  pl_eqt             7392 non-null   float64
 56  pl_eqterr1         0 non-null      float64
 57  pl_eqterr2         0 non-null      float64
 58  pl_eqtlim          0 non-null      float64
 59  pl_eqtsymerr       0 non-null      float64
 60  st_tmag            7703 non-null   float64
 61  st_tmagerr1        7703 non-null   float64
 62  st_tmagerr2        7703 non-null   float64
 63  st_tmaglim         7703 non-null   int64
 64  st_tmagsymerr      7703 non-null   int64
 65  st_dist            7488 non-null   float64
 66  st_disterr1        6996 non-null   float64
 67  st_disterr2        6996 non-null   float64
 68  st_distlim         7703 non-null   int64
 69  st_distsymerr      7703 non-null   int64
 70  st_teff            7542 non-null   float64
 71  st_tefferr1        7229 non-null   float64
 72  st_tefferr2        7229 non-null   float64
 73  st_tefflim         7703 non-null   int64
 74  st_teffsymerr      7703 non-null   int64
 75  st_logg            6847 non-null   float64
 76  st_loggerr1        5432 non-null   float64
 77  st_loggerr2        5432 non-null   float64
 78  st_logglim         7703 non-null   int64
 79  st_loggsymerr      7703 non-null   int64
 80  st_rad             7196 non-null   float64
 81  st_raderr1         5740 non-null   float64
 82  st_raderr2         5740 non-null   float64
 83  st_radlim          7703 non-null   int64
 84  st_radsymerr       7703 non-null   int64
 85  toi_created        7703 non-null   object
 86  rowupdate          7703 non-null   object
dtypes: float64(58), int64(24), object(5)
memory usage: 5.1+ MB

In [13]:
toi_raw

,rowid,toi,toipfx,tid,ctoi_alias,pl_pnum,tfopwg_disp,rastr,ra,raerr1,...,st_loggerr2,st_logglim,st_loggsymerr,st_rad,st_raderr1,st_raderr2,st_radlim,st_radsymerr,toi_created,rowupdate
0,1,1000.01,1000,50365310,5.036531e+07,1,FP,07h29m25.85s,112.357708,NaN,...,-0.07,0,1,2.169860,0.072573,-0.072573,0,1,2019-07-24 15:58:33,2024-09-09 10:08:01
1,2,1001.01,1001,88863718,8.886372e+07,1,PC,08h10m19.31s,122.580465,NaN,...,-0.09,0,1,2.010000,0.090000,-0.090000,0,1,2019-07-24 15:58:33,2023-04-03 14:31:04
2,3,1002.01,1002,124709665,1.247097e+08,1,FP,06h58m54.47s,104.726966,NaN,...,NaN,0,1,5.730000,NaN,NaN,0,1,2019-07-24 15:58:33,2022-07-11 16:02:02
3,4,1003.01,1003,106997505,1.069975e+08,1,FP,07h22m14.39s,110.559945,NaN,...,-1.64,0,1,NaN,NaN,NaN,0,1,2019-07-24 15:58:33,2022-02-23 10:10:02
4,5,1004.01,1004,238597883,2.385979e+08,1,FP,08h08m42.77s,122.178195,NaN,...,-0.07,0,1,2.150000,0.060000,-0.060000,0,1,2019-07-24 15:58:33,2024-09-09 10:08:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7698,7699,995.01,995,317951248,3.179512e+08,1,FP,07h23m14.75s,110.811443,NaN,...,NaN,0,1,NaN,NaN,NaN,0,1,2019-07-24 15:58:33,2021-10-29 12:59:15
7699,7700,996.01,996,142918609,1.429186e+08,1,FP,07h57m23.99s,119.349948,NaN,...,NaN,0,1,2.050000,NaN,NaN,0,1,2019-07-24 15:58:33,2021-10-29 12:59:15
7700,7701,997.01,997,341729521,3.417295e+08,1,FP,08h05m16.69s,121.319521,NaN,...,-0.08,0,1,0.926261,0.045789,-0.045789,0,1,2019-07-24 15:58:33,2024-09-09 10:08:01
7701,7702,998.01,998,54390047,5.439005e+07,1,FP,07h53m16.69s,118.319555,NaN,...,-0.07,0,1,2.349860,0.091578,-0.091578,0,1,2019-07-24 15:58:33,2024-09-09 10:08:01
7702,7703,999.01,999,341186896,3.411869e+08,1,FP,07h55m27.38s,118.864086,NaN,...,-0.09,0,1,1.300000,0.050000,-0.050000,0,1,2019-07-24 15:58:33,2024-09-09 10:08:01

In [18]:
k2_raw = pd.read_csv('k2pandc_raw.csv')
print(k2_raw.columns)

Index(['rowid', 'pl_name', 'hostname', 'pl_letter', 'k2_name', 'epic_hostname',
       'epic_candname', 'hd_name', 'hip_name', 'tic_id',
       ...
       'releasedate', 'pl_nnotes', 'k2_campaigns', 'k2_campaigns_num',
       'st_nphot', 'st_nrvc', 'st_nspec', 'pl_nespec', 'pl_ntranspec',
       'pl_ndispec'],
      dtype='object', length=295)

In [21]:

joint_in_names = [
    "disposition",
    "pl_name",
    "hostname",
    "pl_tranmid",	    
    "pl_trandur",		    
    "pl_orbper",		    
    "pl_trandep",
    "pl_rade",		    
    "pl_insol",		    
    "pl_eqt",
    "st_teff",
    "st_logg",
    "st_rad",
    "ra",
    "dec",
    "sy_pmra",
    "sy_pmdec",
]

joint_out_names = [
    "tfopwg_disp",
    "toi",
    "toipfx",
    "pl_tranmid", # check units	    
    "pl_trandurh",		    
    "pl_orbper",		    
    "pl_trandep", # check uits
    "pl_rade",		    
    "pl_insol",		    
    "pl_eqt",
    "st_teff",
    "st_logg",
    "st_rad",
    "ra",
    "dec",
    "st_pmra",
    "st_pmdec",
]

def filter_k2(k2):
    full_joint_in_names = joint_in_names
    full_joint_out_names = joint_out_names
    
    for in_col, out_col in zip(joint_in_names, joint_out_names):
        if in_col+"err1" in k2.columns:
            full_joint_in_names.append(in_col+"err1")
            full_joint_out_names.append(out_col+"err1")
        if in_col+"err2" in k2.columns:
            full_joint_in_names.append(in_col+"err2")
            full_joint_out_names.append(out_col+"err2")

    rename_table = {in_col: out_col for in_col, out_col in zip(full_joint_in_names, full_joint_out_names)}

    k2_filt = k2[k2["tran_flag"] != 0]
    k2_filt = k2_filt[full_joint_in_names]
    k2_filt = k2_filt.rename(columns=rename_table)

    k2_filt['pl_trandep'] = k2_filt['pl_trandep']*1000

    return k2_filt

In [22]:
k2_filt = filter_k2(k2_raw)
k2_filt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3980 entries, 0 to 4003
Data columns (total 41 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tfopwg_disp      3980 non-null   object
 1   toi              3980 non-null   object
 2   toipfx           3980 non-null   object
 3   pl_tranmid       3925 non-null   float64
 4   pl_trandurh      2783 non-null   float64
 5   pl_orbper        3936 non-null   float64
 6   pl_trandep       2099 non-null   float64
 7   pl_rade          3173 non-null   float64
 8   pl_insol         626 non-null    float64
 9   pl_eqt           846 non-null    float64
 10  st_teff          2871 non-null   float64
 11  st_logg          2342 non-null   float64
 12  st_rad           3852 non-null   float64
 13  ra               3980 non-null   float64
 14  dec              3980 non-null   float64
 15  st_pmra          3941 non-null   float64
 16  st_pmdec         3941 non-null   float64
 17  pl_tranmiderr1   3024 non-null   float64
 18  pl_tranmiderr2   3024 non-null   float64
 19  pl_trandurherr1  1871 non-null   float64
 20  pl_trandurherr2  1868 non-null   float64
 21  pl_orbpererr1    3047 non-null   float64
 22  pl_orbpererr2    3047 non-null   float64
 23  pl_trandeperr1   1307 non-null   float64
 24  pl_trandeperr2   1307 non-null   float64
 25  pl_radeerr1      2887 non-null   float64
 26  pl_radeerr2      2887 non-null   float64
 27  pl_insolerr1     443 non-null    float64
 28  pl_insolerr2     443 non-null    float64
 29  pl_eqterr1       677 non-null    float64
 30  pl_eqterr2       677 non-null    float64
 31  st_tefferr1      2563 non-null   float64
 32  st_tefferr2      2557 non-null   float64
 33  st_loggerr1      2129 non-null   float64
 34  st_loggerr2      2129 non-null   float64
 35  st_raderr1       3220 non-null   float64
 36  st_raderr2       3214 non-null   float64
 37  st_pmraerr1      3941 non-null   float64
 38  st_pmraerr2      3941 non-null   float64
 39  st_pmdecerr1     3941 non-null   float64
 40  st_pmdecerr2     3941 non-null   float64
dtypes: float64(38), object(3)
memory usage: 1.3+ MB

In [23]:
n = 2000  # for example
cols_with_many_nans = k2_filt.columns[k2_filt.isna().sum() > n].tolist()
print("Columns with more than", n, "NaNs:", cols_with_many_nans)

# --- Step 2: Create a new DataFrame with columns having >2000 non-null points ---
k2_filt = k2_filt.loc[:, k2_filt.notna().sum() > 2000]

print("Shape of new DataFrame:", k2_filt.shape)

Columns with more than 2000 NaNs: ['pl_insol', 'pl_eqt', 'pl_trandurherr1', 'pl_trandurherr2', 'pl_trandeperr1', 'pl_trandeperr2', 'pl_insolerr1', 'pl_insolerr2', 'pl_eqterr1', 'pl_eqterr2']
Shape of new DataFrame: (3980, 31)

In [24]:
k2_filt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3980 entries, 0 to 4003
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tfopwg_disp     3980 non-null   object
 1   toi             3980 non-null   object
 2   toipfx          3980 non-null   object
 3   pl_tranmid      3925 non-null   float64
 4   pl_trandurh     2783 non-null   float64
 5   pl_orbper       3936 non-null   float64
 6   pl_trandep      2099 non-null   float64
 7   pl_rade         3173 non-null   float64
 8   st_teff         2871 non-null   float64
 9   st_logg         2342 non-null   float64
 10  st_rad          3852 non-null   float64
 11  ra              3980 non-null   float64
 12  dec             3980 non-null   float64
 13  st_pmra         3941 non-null   float64
 14  st_pmdec        3941 non-null   float64
 15  pl_tranmiderr1  3024 non-null   float64
 16  pl_tranmiderr2  3024 non-null   float64
 17  pl_orbpererr1   3047 non-null   float64
 18  pl_orbpererr2   3047 non-null   float64
 19  pl_radeerr1     2887 non-null   float64
 20  pl_radeerr2     2887 non-null   float64
 21  st_tefferr1     2563 non-null   float64
 22  st_tefferr2     2557 non-null   float64
 23  st_loggerr1     2129 non-null   float64
 24  st_loggerr2     2129 non-null   float64
 25  st_raderr1      3220 non-null   float64
 26  st_raderr2      3214 non-null   float64
 27  st_pmraerr1     3941 non-null   float64
 28  st_pmraerr2     3941 non-null   float64
 29  st_pmdecerr1    3941 non-null   float64
 30  st_pmdecerr2    3941 non-null   float64
dtypes: float64(28), object(3)
memory usage: 995.0+ KB

In [25]:
k2_filt.to_csv('k2pandc_filtered.csv')